
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #f3f2f2;
    font-family: Poppins;
}



.card {
    width: 352px;
    height: 585px;
    padding: 20px;
    box-shadow: 1px -2px 32px 63px;
}

.img {
    display: inline;
}

.img img {
    width: 11%;
    border-radius: 50%;
    display: block;
    border: 1px solid rgba(0,0,0,0.274);
}

.title {
    display: block;
    position: relative;
    left: 43px;
    bottom: 37px;
}

.title p {
    font-size: 17px;
    margin-bottom: -3px;
}

.title span {
    font-size: 12px;
}

.post {
    width: 313px;
    height: 314px;
    position: relative;
    bottom: 72px;
}

.content {
    position: relative;
    bottom: 57px;
}

.content p {
    font-weight: 500;
    padding: 5px 6px;
    font-size: 15px;
}

.content span {
    padding-left: 6px;
    font-weight: 500;
    font-size: 15px;
}

.content span:last-child {
    color: rgba(0,0,0,0.452);
    padding: 0 !important;
    font-weight: normal;
}

.content img {
    width: 26px;
    margin: 0 5px;
}

.content p:last-child {
    display: inline;
}

.comment span {
    margin-bottom: 36px;
    position: relative;
    bottom: 45px;
    margin-left: -24px;
    color: #0000006e;
}

.comment img {
    width: 29px;
    border-radius: 50px;
    float: left;
    border: 1px solid rgba(0,0,0,0.377);
    position: relative;
    bottom: 19px;
    left: 4px;
}

input {
    border: none;
    padding: 6px 10px;
    position: relative;
    bottom: 40px;
    left: 5px;
}

